#background{
    -fx-background-image: url("../images/BackgroundHoch.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#addPw{
    -fx-background-radius: 30px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 30px;
    -fx-border-width: 5px;
    -fx-pref-width: 500px;
}

#addPw:hover{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-border-color: rgba(0,0,0,0.5);
}

#back{
    -fx-background-radius: 30px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 30px;
    -fx-border-width: 5px;
    -fx-pref-width: 160px;
}
#back:hover{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-border-color: rgba(0,0,0,0.5);
}

#category{
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 30px;
}

#category:hover{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-width: 5px;
    -fx-border-radius: 30px;
}

#password{
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 30px;
}

#password:hover{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-width: 5px;
    -fx-border-radius: 30px;
}

#repeat{
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-radius: 30px;
}

#repeat:hover{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-border-color: rgba(0,0,0,0.5);
    -fx-border-width: 5px;
    -fx-border-radius: 30px;
}