#background{
    -fx-background-image: url("../../resources/images/BackgroundHoch.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#addButton{
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-pref-width: 500px;
}

#loginButton{
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 20px;
    -fx-border-width: 5px;
    -fx-pref-width: 160px;
}
#loginButton:hover{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-color-label-visible: black ;
}